
label{
    font-family: cursive;
     display: block; 
     margin-top: 10px;
     }
input{
    width: 50%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid ;
}
h1{
    color: coral;
}
button{ 
width: 10%; 
padding: 10px;
padding-top: 15px;
background-color: brown;
color: aliceblue;
cursor: pointer;}
button:hover{background-color:lightsalmon;}
fieldset{border-color: black;
width: 50%;}
textarea{
    width: 50%;
}
.contenedor-principal{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    padding: 20px;

 }
 form{
    display:flex;
    flex-direction: column;
    width: 50%;
 }
 .seccion-tabla{
    max-width: 45%;
 }
 .contenedor-botone{
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 15px;
}
th{
    padding: 15px;
    text-align: center;
    background-color: ghostwhite;
}
td{
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}
table{
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
}
body{
    background: linear-gradient(135deg, #f5f6faa4 0%, #c3cfe2 100%);
    background-attachment: fixed;
}